## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_footer()">
  %if content_footer:
  <footer id="footer" class="finalfooter">
    <div class="container">
      <div class="content has-text-centered">
        <div class="footerlink is-centered">
          <a href="https://github.com/tangyiming">Github</a>
          <a href="https://www.yuque.com/liveonce">语雀</a>
        </div>
      </div>
    </div>
  </footer>
  %endif
</%def>
